{% extends 'base-minimal.haml' %}
{% load sass_tags %}
{% load static %}
{% block title %} {{profile.first_name}} {{profile.last_name}} @{{user.username}} {% endblock %}
{% block description %}AmFOSS (FOSS@Amrita) is one the leading student FOSS Communities in India, based in Amrita Vishwa Vidyapeetham, Amritapuri. {% endblock %}
{% block styles %}
  %link{:rel => "stylesheet", :href =>"{% sass_src 'pages/styles/profile.sass' %}" }
{% endblock %}
{% block content %}
  {% if profile %}
    %section{:id=>"cover"}
      %div{:class=>"name text-center"}
        <img src="/{{profile.avatar}}" id="avatar" class="w-100 rounded-circle">
        %h1 {{profile.first_name}} {{profile.last_name}}
        %div{:class=>"tagline"} {{profile.tagline}}
        %div{:id=>"social-links"}
          {% for l in socialProfiles %}
            <a href="{{l.link}}" style="color: {{l.portal.color}}"  class="{{l.portal.icon}}"></a>
          {% endfor %}
    %nav{:id=>"section-switcher"}
      %a{:id=>"activity-tab-button"}
        %img{:src => "{% static 'pages/images/icons/calendar.png' %}"}
        %span Activity
      %a{:id=>"profile-tab-button"}
        %img{:src => "{% static 'pages/images/icons/profile.png' %}"}
        %span Profile
      %a{:id=>"profile-tab-button"}
        %img{:src => "{% static 'pages/images/icons/portfolio.png' %}"}
        %span Portfolio
      %a{:id=>"profile-tab-button"}
        %img{:src => "{% static 'pages/images/icons/blog.png' %}"}
        %span Blog

  {% else %}
    %section{:class => "d-flex align-items-center justify-content-center bg-primary"}
      %div{:class => "m-2 p-4 bg-light"}
        %h1 No Profile Exists for @{{user.username}}
        %p If this is your profile, kindly contact the web team to create your profile.
        %a{:class=>"p-2 btn-primary btn"} View Members
  {% endif %}
{% endblock %}