{% extends 'base.haml' %}
{% load sass_tags %}
{% load staticfiles %}
{% block title %} About FOSS@Amrita {% endblock %}
{% block description %}amFOSS (FOSS@Amrita) is one the leading student FOSS Communities in India, based in Amrita Vishwa Vidyapeetham, Amritapuri. {% endblock %}
{% block styles %}
{% endblock %}
{% block content %}
    %section{:class=>"page-cover"}
      %h1 About Club

    %div{:class=>"bg-white section-card"}
      %h2 What are People Talking About Us?
{% endblock %}
