{% extends 'base.haml' %}
{% load sass_tags %}
{% load staticfiles %}
{% block title %} About FOSS@Amrita {% endblock %}
{% block description %}amFOSS (FOSS@Amrita) is one the leading student FOSS Communities in India, based in Amrita Vishwa Vidyapeetham, Amritapuri. {% endblock %}
{% block styles %}
  %link{:rel => "stylesheet", :href =>"{% sass_src 'pages/styles/home.sass' %}" }
{% endblock %}
{% block content %}
{% endblock %}
