{% extends 'base-minimal.haml' %}
{% load sass_tags %}
{% load static %}
{% block title %} {{profile.first_name}} {{profile.last_name}} @{{user.username}} | Profile {% endblock %}
{% block description %}AmFOSS (FOSS@Amrita) is one the leading student FOSS Communities in India, based in Amrita Vishwa Vidyapeetham, Amritapuri. {% endblock %}
{% block styles %}
  <script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.css" />
  %link{:rel => "stylesheet", :href =>"{% sass_src 'pages/styles/profile.sass' %}" }
{% endblock %}
{% block content %}
  {% if profile %}
    <section id="cover"
      style="background-image: {% if profile.cover %} linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{{profile.cover.url}}'); {% endif %} background-position: center; background-size: cover; background-color: {{profile.accent}};">
      %div.name.text-center
        <img src="{{profile.avatar.url}}" id="avatar" class="w-100 rounded-circle">
        %h1 {{profile.first_name}} {{profile.last_name}}
        {% if profile.tagline %}
        %div.tagline {{profile.tagline}}
        {% endif %}
        %div.social-links
          {% for l in socialProfiles %}
            <a href="{{l.link}}" style="color: {{l.portal.color}}"  class="{{l.portal.icon}}"></a>
          {% endfor %}
    </section>
    %nav#section-switcher
      %a#activity-tab-button
        %img{:src => "{% static 'pages/images/icons/calendar.png' %}"}
        %span Activity
      %a#profile-tab-button
        %img{:src => "{% static 'pages/images/icons/profile.png' %}"}
        %span Profile
      %a#portfolio-tab-button
        %img{:src => "{% static 'pages/images/icons/portfolio.png' %}"}
        %span Portfolio
      %a#blog-tab-button
        %img{:src => "{% static 'pages/images/icons/blog.png' %}"}
        %span Blog

    %section.tab#activity-tab
      .row.m-0
        .col-lg-8.row.m-0
          .col-12.p-2
            .section-card.bg-white.p-0.m-2
              .bg-primary.px-4.py-2
                %h4
                  Activity Heatmap
              .p-3
                <div id="activity-heatmap"></div>
          .col-lg-3.col-md-4.col-6.p-2
            .section-card.bg-white.text-center.p-0.m-2
              .p-3
                %h3.num
                  %img{:src => "{% static 'pages/images/icons/streak.png' %}"}
                  .count.py-2 8
                %div
                  Longest Streak - 8 Days
              .bg-primary.p-4
                %h5.d-inline
                  Day Streak
          .col-lg-3.col-md-4.col-6.p-2
            .section-card.bg-white.text-center.p-0.m-2
              .p-3
                %h3.num
                  %img{:src => "{% static 'pages/images/icons/hourglass.png' %}"}
                  .count.py-2 535
                %div
                  50hrs this week
              .bg-primary.p-4
                %h5.d-inline
                  Lab Hours
          .col-lg-3.col-md-4.col-6.p-2
            .section-card.bg-white.text-center.p-0.m-2
              .p-3
                %h3.num
                  %img{:src => "{% static 'pages/images/icons/sleep.png' %}"}
                  .count.py-2 0
                %div
                  0hrs this week
              .bg-primary.p-4
                %h5.d-inline
                  Break Hours
          .col-lg-3.col-md-4.col-6.p-2
            .section-card.bg-white.text-center.p-0.m-2
              .p-3
                %h3.num
                  %img{:src => "{% static 'pages/images/icons/sleep.png' %}"}
                  .count.py-2 0
                %div
                  0hrs this week
              .bg-primary.p-4
                %h5.d-inline
                  Break Hours
        .col-lg-4.col-md-6.p-2
          .section-card.bg-white.p-0.m-2
            .bg-primary.px-4.py-2
              %h4
                Activity BreakUp
            .p-3
              <canvas id="activity-breakup"></canvas>
    %section.tab#profile-tab
      .row.m-0
        .col.p-2
          .section-card.bg-white.p-4
              %h3 About
            {% if profile.about %}
              .desc {{profile.about|safe}}
            {% endif %}
              .row.m-0
                {% if profile.location or profile.birthday %}
                .col-md-6.p-2
                  {% if profile.location %}
                    %div
                      <b>Location</b> : {{profile.location}}
                  {% endif %}
                  {% if profile.birthday %}
                    %div
                      <b>Birthday</b> : {{profile.birthday}}
                  {% endif %}
                {% endif %}
                {% if profile.resume %}
                .col-md-6.p-2
                  <a href="{{profile.resume}}" class="link-button px-3 py-2 m-2">View Resume</a>
                {% endif %}
          {% if interests or expertise %}
          %h2
            %img{:src => "{% static 'pages/images/icons/skill.png' %}" } Skills
          .row.m-0
            {% if interests %}
            .col-md-6.p-2
              .section-card.bg-white.mx-0.p-2
                %h4
                  %img{:src => "{% static 'pages/images/icons/hearts.png' %}" } Interests
                .tag-list
                  {% for i in interests %}
                    %span
                      <img src="{{i.icon.url}}">
                      {{i.name}}
                  {% endfor %}
            {% endif %}
            {% if expertise %}
            .col-md-6.p-2
              .section-card.bg-white.mx-0.p-2
                %h4
                  %img{:src => "{% static 'pages/images/icons/crown.png' %}" } Expertise
                .tag-list
                  {% for i in expertise %}
                    %span
                      <img src="{{i.icon.url}}">
                      {{i.name}}
                  {% endfor %}
            {% endif %}
          {% endif %}
          {% if workExperience %}
          %h2
            %img{:src => "{% static 'pages/images/icons/job.png' %}" } Work Experience
          {% for e in workExperience %}
            .section-card.bg-white.p-3
              .row.m-0
                .col-sm-1.col-2.p-1
                  <img src="{{e.organization.icon.url}}">
                .col
                  %h4 {{e.position}}
                  %h5 {{e.organization}}
              %div.mt-2.ml-3
                {% if e.location %}
                %span
                  %i.fa.fa-map-marker
                  {{e.location}}
                {% endif %}
                %span
                  %i.fa.fa-calendar
                  {{e.start}} - {% if e.end %} {{e.end}}{% else %} Present {% endif %}
              .desc
                {{e.description|safe}}
          {% endfor %}
          {% endif %}
          {% if educationalQualification %}
          %h2
            %img{:src => "{% static 'pages/images/icons/education.png' %}" } Educational Qualifications
          {% for e in educationalQualification %}
            .section-card.bg-white.p-3
              .row.m-0
                .col-sm-1.col-2.p-1.d-flex.align-items-center
                  <img src="{{e.institution.icon.url}}">
                .col
                  %h4 {{e.title}}
                  %h5 {{e.institution}}
              %div.mt-2.ml-3
                {% if e.percentage %}
                %span
                  %i.fa.fa-star
                  {{e.percentage}}
                {% endif %}
                {% if e.location %}
                %span
                  %i.fa.fa-map-marker
                  {{e.location}}
                {% endif %}
                %span
                  %i.fa.fa-calendar
                  {{e.start}} - {% if e.end %} {{e.end}}{% else %} Present {% endif %}
              .desc
                {{e.description|safe}}
          {% endfor %}
          {% endif %}
        .col-md-5#profile-sidebar
          {% if honours %}
          .section-card.bg-white.p-3
            %h4
              %img{:src => "{% static 'pages/images/icons/prize.png' %}" } Honors & Awards
            {% for h in honours %}
              .item
                %h5 {{h.title}}
                %div
                  %span
                    <img src="{{h.issuer.icon.url}}">
                    {{h.issuer.name}}
                  %span
                    %i.fa.fa-calendar.mr-2
                    {{h.date}}
                  %span
                    {% if h.url %}
                      <a  class="link-button" href="{{h.url}}">View</a>
                    {% endif %}
            {% endfor %}
          {% endif%}
          {% if publications %}
          .section-card.bg-white.p-3
            %h4
              %img{:src => "{% static 'pages/images/icons/news.png' %}" } Publications
            {% for p in publications %}
              .item
                %h5 {{p.title}}
                %div
                  %span
                    <img src="{{p.publisher.icon.url}}">
                    {{p.publisher.name}}
                  %span
                    %i.fa.fa-calendar.mr-2
                    {{p.date}}
                  %span
                    <a href="{{p.url}}">View</a>
            {% endfor %}
          {% endif%}
          {% if certificates %}
          .section-card.bg-white.p-3
            %h4
              %img{:src => "{% static 'pages/images/icons/certificate.png' %}" } Certifications
            {% for c in certificates %}
              .item
                %h5 {{c.title}}
                %div
                  %span
                    <img src="{{c.issuer.icon.url}}">
                    {{c.issuer.name}}
                  %span
                    %i.fa.fa-calendar.mr-2
                    {{c.date}}
                  %span
                    {% if c.attachment %}
                      <a class="link-button" href="/{{c.attachment}}">View Certificate</a>
                    {% endif %}
            {% endfor %}
          {% endif%}
          {% if talks %}
          .section-card.bg-white.p-3
            %h4
              %img{:src => "{% static 'pages/images/icons/podium.png' %}" } Talks
            {% for t in talks %}
              .item
                %h5 {{t.title}}
                %h6 {{t.event.title}}
                %div
                  %span
                    <img src="{{t.organizer.icon.url}}">
                    {{t.organizer.name}}

            {% endfor %}
          {% endif%}
          {% if profile.languages.all %}
          .section-card.bg-white.p-3
            %h4
              %img{:src => "{% static 'pages/images/icons/language.png' %}" } Languages
            .tag-list
              {% for l in profile.languages.all %}
                %span {{l.name}}
              {% endfor %}
          {% endif %}
    %section.tab#portfolio-tab
      .row.m-0
        {% for p in projects %}
        .col-lg-4.col-md-6
          <a href="/project/{{p.slug}}">
            .section-card.bg-white.project-card
              <img src="{{p.cover.url}}" class="cover">
              .content
                %h3 {{p.name}}
                .tagline {{p.tagline}}
          </a>
        {% endfor %}
    %section.tab#blog-tab
      .row.m-0
        {% for p in posts %}
          {% if p.status == 'P' %}
            .col-lg-4.col-md-6
              <a href="{{p.slug}}">
                .section-card.bg-white.blog-post
                  <img src="{{p.featured_image.url}}" class="cover">
                  .content
                    %h3 {{p.title}}
                    %div
                      %span
                        .fa.fa-calendar
                        {{p.date}}
                      %span
                        {%for c in p.category_set.all %}
                          {{c.name}}
                          %h1 tag
                        {% endfor %}
                      %span
                        {%for c in p.tag_set.all %}
                          {{c.name}}
                          %h1 tag
                        {% endfor %}
                </a>
            {% endif %}
        {% endfor %}

  {% else %}
    %section.d-flex.align-items-center.justify-content-center.bg-primary{:style=>"height: 100vh"}
      .m-2.p-4.bg-light
        %h1 No Profile Exists for @{{user.username}}
        %p If this is your profile, kindly contact the web team to create your profile.
        %a.p-2.btn-primary.btn View Members
  {% endif %}
<script>
  $("#activity-tab").hide();
  $("#profile-tab").show();
  $("#portfolio-tab").hide();
  $("#blog-tab").hide();
  $("#activity-tab-button").click(function() {
    $("#activity-tab").show();
    $("#profile-tab").hide();
    $("#portfolio-tab").hide();
    $("#blog-tab").hide();
  });
  $("#profile-tab-button").click(function() {
    $("#activity-tab").hide();
    $("#profile-tab").show();
    $("#portfolio-tab").hide();
    $("#blog-tab").hide();
  });
  $("#portfolio-tab-button").click(function() {
    $("#activity-tab").hide();
    $("#profile-tab").hide();
    $("#portfolio-tab").show();
    $("#blog-tab").hide();
  });
  $("#blog-tab-button").click(function() {
    $("#activity-tab").hide();
    $("#profile-tab").hide();
    $("#portfolio-tab").hide();
    $("#blog-tab").show();
  });

  var vals =  {{activity|safe}}
  console.log(vals);

  var dateOffset = (24*60*60*1000) * 360;
  var startDate = new Date();
  startDate.setTime(startDate.getTime() - dateOffset);


  var cal = new CalHeatMap();
  cal.init({
    itemSelector: "#activity-heatmap",
    domain: "month",
    tooltip: false,
    start: startDate,
    data: vals,
    displayLegend: false
  });

  var ctx = document.getElementById("activity-breakup");
  var myChart = new Chart(ctx, {
    type: 'radar',
    data: {
      labels: ['Work', 'Activities', 'Responsibilities', 'Mentoring'],
      datasets: [{
        fontSize: 16,
        data: [14, 25, 20, 9],
        backgroundColor: 'rgba(0, 0, 0, 0.5)',
      }]
    },
    options: {
      scale: {
        pointLabels: {
          fontSize: 16
        }
      }
    }
  });
  myChart.options.legend.display = false;

  function invertHex(hexnum){
    if(hexnum.length != 7) {
      return false;
    }

    hexnum = hexnum.substr(1);
    hexnum = hexnum.toUpperCase();
    var splitnum = hexnum.split("");
    var resultnum = "";
    var simplenum = "FEDCBA9876".split("");
    var complexnum = new Array();
    complexnum.A = "5";
    complexnum.B = "4";
    complexnum.C = "3";
    complexnum.D = "2";
    complexnum.E = "1";
    complexnum.F = "0";

    for(i=0; i<6; i++){
      if(!isNaN(splitnum[i])) {
        resultnum += simplenum[splitnum[i]];
      } else if(complexnum[splitnum[i]]){
        resultnum += complexnum[splitnum[i]];
      } else {
        alert("Hex colors must only include hex numbers 0-9, and A-F");
        return false;
      }
    }

    return '#' + resultnum;
  }
  color = invertHex("{{profile.accent|safe}}");
  $('#cover').css('color',color);

</script>
{% endblock %}