aniso8601==7.0.0
apiclient==1.0.4
cachetools==3.1.1
certifi==2019.9.11
cffi==1.13.1
chardet==3.0.4
cms-attendance==0.1.3.1
cms-forms==0.1.2
cms-scheduler==0.0.1
cms-tasks==0.0.1
crypto==1.4.1
cryptography==2.8
defusedxml==0.6.0
diff-match-patch==20181111
Django==2.2.6
django-appconf==1.0.3
django-ckeditor==5.7.1
django-cors-headers==3.1.1
django-easy-select2==1.5.6
django-filter==2.2.0
django-graphql-jwt==0.2.2
django-imagekit==4.0.2
django-import-export==1.2.0
django-js-asset==1.2.2
djangorestframework==3.10.3
et-xmlfile==1.0.1
future==0.18.2
google-api-python-client==1.7.11
google-auth==1.6.3
google-auth-httplib2==0.0.3
graphene==2.1.8
graphene-django==2.6.0
graphene-django-extras==0.4.8
graphql-core==2.2.1
graphql-relay==2.0.0
gunicorn==19.9.0
httplib2==0.14.0
idna==2.8
jdcal==1.4.1
MarkupPy==1.14
Naked==0.1.31
oauth2client==4.1.3
odfpy==1.4.0
openpyxl==3.0.0
pilkit==2.0
Pillow==6.2.1
promise==2.2.1
pyasn1==0.4.7
pyasn1-modules==0.2.7
pycparser==2.19
pycrypto==2.6.1
PyJWT==1.7.1
python-dateutil==2.8.0
python-telegram-bot==12.2.0
pytz==2019.3
PyYAML==5.1.2
regex==2019.11.1
requests==2.22.0
rsa==4.0
Rx==1.6.1
shellescape==3.4.1
singledispatch==3.4.0.3
six==1.12.0
sqlparse==0.3.0
tablib==0.14.0
tornado==6.0.3
uritemplate==3.0.0
urllib3==1.25.6
xlrd==1.2.0
xlwt==1.3.0
