{% load i18n %}
{% load staticfiles %}
<!-- this ensures Gmail doesn't trim the email -->
<div style="background: #333; padding: 3rem">
        <img src="{% static 'pages/images/logos/logo_light.png' %}" style="float: right">
        <h1 style="color: white">amFOSS CMS</h1>
        <!-- this ensures Gmail doesn't trim the email -->
        <span style="background: white; padding: 1rem; display: block;">
            Nama Shivayah @{{user.get_username}}, <br>

            You're receiving this email because you requested a password reset for your amFOSS CMS account. <br>
            Please go to the following page and choose a new password:<br>
            {% block reset_link %}
            {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
            {% endblock %}
            <br>
            <br>
            Cheers,<br>
            Web Team,<br>
            FOSS@Amrita
        </span>
        <!-- this ensures Gmail doesn't trim the email -->
</div>
<!-- this ensures Gmail doesn't trim the email -->
<span style="opacity: 0"> {{ datetime.now }} </span>