#members
   a
     color: inherit
   a:hover
     text-decoration: none
.section-card
    box-shadow: 8px 10px 20px 0 rgba(46,61,73,.15)
    margin: 1.5vw 1vw
    text-align: left
    h6
      font-size: calc(1rem + 0.8vw)
      margin-bottom: 0.3rem
    .content
      padding: 2vw
      font-size: 130%
