#members
   a
     color: inherit
   a:hover
     text-decoration: none
.section-card
    box-shadow: 8px 10px 20px 0 rgba(46,61,73,.15)
    margin: 1.5vw 1vw
    text-align: left

@media (max-width: 720px)
    #filter-bar
        position: fixed!important
        bottom: 0
        right: 0
        height: 4rem
        left: 0
        top: unset!important
    #search-container
        display: none
    #page-container
      margin-bottom: 4rem

@media (min-width: 720px)
    #search-icon, #filter-icon
        display: none!important
    #filter-container
        display: flex


@media (min-width: 721px)
    #search-container
      display: flex
    #filter-bar
      padding: 1rem!important


#filter-bar
  padding: 0.5rem 0!important
  border: none
  font-weight: 900
  box-shadow: 1px 1px 2px #222222
  display: flex
  text-align: center
  z-index: 2000
  position: sticky
  top: 0

#year-filter, #team-filter, #search-box
  border: none
  border-radius: 0
  height: 3.2rem!important
  margin: 0 1rem
  font-weight: 900
  font-size: 1.2rem

#year-filter
  width: 10rem
#team-filter
  width: 20rem

#search-icon, #filter-icon
  font-size: 130%
  padding: 0.8rem

.section-card
  display: flex!important
  align-items: center!important

  .cover
    width: 100px!important
    height: 100px!important
    object-fit: cover!important
    margin: 0!important

  .tagline
    font-size: calc(0.8rem + 0.2vw)!important

  h4
    font-size: calc(0.8rem + 0.6vw)!important
    margin: 0.2rem 0!important