@import url('https://fonts.googleapis.com/css?family=PT+Serif')

.tagline
    font-size: calc(1rem + 0.5vw)
.post-card
  padding: 2rem
  box-shadow: 8px 10px 20px 0 rgba(46,61,73,.15)
  font-size: 130%
  font-family: 'PT Serif', serif