@import https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css
@import https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css
@import https://fonts.googleapis.com/css?family=Rajdhani:700|Thasadith

$title-font: 'Rajdhani', sans-serif
$text-font: 'Thasadith', sans-serif
$primary-color: #ffc107

h1,h2,h3,h4,h5,h6
    font-family: $title-font
    img
        margin-right: 0.5rem
        max-width: 64px

    .sub
        font-size: 60%

h5
    font-size: calc(1rem + 0.6vw)
h6
    font-size: calc(0.8rem + 0.6vw)
    margin-bottom: 0.3rem

body
    font-family: $text-font
    background: #eee

img
    max-width: 100%

.bg-primary
    background: $primary-color!important

.btn-primary
    background: $primary-color!important
    border: none

.btn-primary:hover
    background: $primary-color!important


.page-cover
    min-height: 25vh
    background: $primary-color
    display: flex
    align-items: center
    padding: 5vw
    color: #333
    height: 100%
    box-shadow: 5px 3px 3px 4px rgba(0,0,0,0.2)
    h1
        font-size: calc(1.5rem + 1.8vw)

%flex-center
    display: flex
    align-items: center
    justify-content: center

#footer-nav
    @extend %flex-center
    background-color: $primary-color
    color: #000
    padding: 2rem
    min-height: 50vh
    font-size: 1rem

    a
        color: inherit
        display: inline-block
        padding: 0.5rem 0
    a:hover
        text-decoration: none
        padding-bottom: 0.3rem
        border-bottom: 2px solid

    .row
        width: 100%

    h4
        font-weight: 900
        font-size: calc(1rem + 0.8vmin)
        border-bottom: 2px solid
        margin: 1rem 0
        display: inline-block

    ul
        list-style: none
        padding: 0 0.5rem

        li
            line-height: 110%

    form
        %form-border-black
            box-shadow: 2px 3px 2px rgba(0,0,0,0.3)
            border-radius: 0

        input, textarea
            font-size: 1rem
            @extend %form-border-black

        button
            color: black
            background: white
            margin: 0
            @extend %form-border-black

#sub-footer
    background-color: #333
    color: #999
    padding: 0.3rem

    #footer-logos
        height: 6rem
        @extend %flex-center

    img
        height: 3.2rem
        padding: 0 0.5rem

    a
        padding: 0.3rem
        color: #999

    div
        text-align: center
        padding: 0.3rem

    a:hover
        color: #eee
        text-decoration: none
        outline: none

@media (min-width: 576px)
    #contact-details
        justify-content: center

@media (max-width: 80rem)
    #footer-nav
        .row
            div
                div
                    width: 100%

@media (max-width: 700px)
    #sidebar
        width: 100%!important

@media (min-width: 1200px)
    #page-container
        margin-left: 18rem
        min-height: 100vh
        margin-top: 0!important
    #sidebar
        display: flex!important
        padding-top: 1.8vw!important
        .text-center
            display: block!important
    #topbar
        display: none!important

#preload-screen
    @extend %flex-center
    background: white
    width: 100%
    position: fixed
    top: 0
    left: 0
    height: 100%
    z-index: 10000

#page-container
    position: relative
    margin-top: 4rem

#topbar
    @extend %flex-center
    background: #222
    height: 4rem
    width: 100%
    position: fixed
    padding: 1.2rem 2rem
    top: 0
    z-index: 4000
    box-shadow: 10px 0px 15px

    #top-bar-button
        color: white
        position: absolute
        left: 10vw
        font-size: 1.5rem
        font-weight: 300
        animation-duration: 0.4s
        padding: 2rem 1rem
        cursor: pointer

    img
        height: 1.3rem



#sidebar::-webkit-scrollbar-track
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
	background-color: #F5F5F5

#sidebar::-webkit-scrollbar
	width: 8px
	background-color: #F5F5F5

#sidebar::-webkit-scrollbar-thumb
	background-color: $primary-color

#sidebar
    @extend %flex-center
    display: none
    background: #222
    height: 100vh
    width: 18remW
    position: fixed
    padding: 1vw 1.5vw
    padding-top: 4rem
    top: 0
    z-index: 3000
    overflow-y: auto
    justify-content: center
    box-shadow: 5px 3px 3px 1px rgba(0,0,0,0.2)
    animation-duration: 0.4s

    img
        height: 23vh

    .text-center
        display: none
        margin-bottom: 3vh

    nav
        padding: 1rem 0.5rem
        font-size: 130%
        font-family: $title-font
        a
            display: block
            padding: 0.8rem
            margin: 0.3rem
            color: white
            img
                width: 32px
                height: auto
                margin-right: 0.5rem

        a:hover, .active
            background: white
            color: #222222
            text-decoration: none
            box-shadow: 4px 4px 3px 3px rgba(100, 100, 100, 0.3)

    #social-links
        margin-top: 2vh
        text-align: center
        margin-bottom: 3vh
        a
            padding: 0.3rem 0.2rem
            text-decoration: none
            display: inline-flex
            align-items: center
        a:hover
            text-decoration: none
            background: #fff
        img
            width: 32px
            height: auto


.social-links
    padding: 1rem
    left: 1rem
    bottom: 1rem

    a
        height: 2.5rem
        width: 2.5rem
        border-radius: 100vh
        font-size: 1.5rem
        display: inline-flex
        justify-content: center
        align-items: center
        background: white
        box-shadow: 1px 1px 2px #222222
        text-decoration: none
        margin: 0.3rem
    a:hover
        text-decoration: none
        font-size: 1.8rem

.section-card
    padding: 2vw
    box-shadow: 8px 10px 20px 0 rgba(46,61,73,.15)
    margin: 1.5vh 0.8vw
    text-align: left

    .content
      padding: 1rem
      font-size: calc(0.5rem + 0.5vw)

    .cover
      height: 300px
      max-height: 50vmin
      width: 100%
      object-fit: cover

    h2
        font-size: calc(1.8rem + 1.5vw)!important

    h3
        font-size: calc(1.5rem + 1.2vw)!important

    h4
        font-size: calc(1.2rem + 0.8vw)
        line-height: 1
        margin: 0.5rem 0
        display: flex
        align-items: center
        img
            height: 45px
            margin-right: 0.5rem
    h5
        line-height: 1
        margin: 0.3rem 0

    p
        font-size: calc(0.8rem + 0.5vmax)!important

    hr
        border-top: 2px solid rgba(0,0,0,.1)

    span
        color: #666
        display: inline-block
        margin-right: 1rem
        font-weight: 600
        i
            margin-right: 0.3rem

    .desc, .tagline
        font-size: calc(0.8rem + 0.5vw)

    .tag-list
        span
            background: #eeeeee
            font-size: 100%
            padding: 0.2rem .5rem
            margin: 0.2rem
            box-shadow: 3px 2px 1px 1px rgba(0,0,0,0.2)
            color: #333
            img
                height: 24px
                width: auto

    .item
        margin: 1rem
        img
            height: 24px
            width: auto
            margin-right: 0.3rem
        div
            span
                margin: 0.5rem 0.3rem

    .point
        padding: 0.5rem 1rem
        text-align: left!important
        p
            font-size: 1rem!important
        img
            width: 64px
            height: 64px
            object-fit: cover

        a
            color: inherit
        a:hover
            text-decoration: none

        .col-3
            text-align: center
    .cta
        background-color: $primary-color
        h5
            margin-bottom: 0
            margin-top: 0.5rem
        a
            text-decoration: none
            background: black
            padding: 0.5rem 1rem
            width: 100%
            margin: 0.3rem
            color: white
            box-shadow: 3px 2px 1px 1px rgba(0,0,0,0.2)
            display: flex
            align-items: center
            justify-content: center

.slick-dots
    margin: 1rem 0!important
    position: unset!important
    li button:before
        font-size: 20px!important

.slick-next, .slick-prev
    display: none!important

.slick-slide
  margin: 0 10px


h2
    font-size: calc(1.8rem + 1vw)!important

#story-slider
    h4
        font-size: calc(1.2rem + 1vw)
        margin-bottom: 1.3rem
    p
        font-size: 120%
    .quote
        font-size: 130%
        font-style: italic
        padding: 1rem
        text-align: center
    img
        box-shadow: 5px 5px 1px rgba(0,0,0,0.3)

.featured_image
    width: 100%
    height: 500px
    object-fit: cover


#full-cover
    height: 100vh
    background: $primary-color

    .huge-text
        font-size: 30vmax

.num
    display: block!important
    margin: 0!important
    font-size: calc(1.5rem + 1.5vmax)!important
    .count
        line-height: 1
    span
        display: block
        font-size: calc(1rem + 0.5vmax)
        margin: 1rem 0