{% extends 'base.haml' %}
{% load sass_tags %}
{% load staticfiles %}
{% block title %} Achievements{% endblock %}
{% block description %}AmFOSS (FOSS@Amrita) is one the leading student FOSS Communities in India, based in Amrita Vishwa Vidyapeetham, Amritapuri. {% endblock %}
{% block styles %}
  %link{:rel => "stylesheet", :href =>"{% sass_src 'pages/styles/achievements.sass' %}" }
{% endblock %}
{% block content %}
    %section{:class=>"page-cover"}
      %h1 Achievements
    %section{:id=>"achievements"}
      {% if gsoc_members %}
      %h2
        %img{:src => "{% static 'pages/images/icons/gsoc.png' %}" } Google Summer of Code
      %div{:class=>"row p-2 m-0"}
        %div{:class=>"col-lg-3 col-md-4 col-6 p-2 h-100"}
          %div{:class=>"achievement-card anime fadeInUp py-2"}
            .w-100.py-4.px-2
              %h3.num 8th
              %h5 Global Rank
        %div{:class=>"col-lg-3 col-md-4 col-6 p-2 h-100"}
          %div{:class=>"achievement-card anime fadeInDown py-2"}
            .w-100.py-4.px-2
              %h3.num {{gsoc_members|length}}
              %h5 GSoC Students (Total)
        %div{:class=>"col-lg-3 col-md-4 col-6 p-2 h-100"}
          %div{:class=>"achievement-card anime fadeInUp py-2"}
            .w-100.py-4.px-2
              %h3.num ${{gsoc_stipend}}k
              %h5 Stipend (Total)
        %div{:class=>"col-lg-3 col-md-4 col-6 p-2 h-100"}
          %div{:class=>"achievement-card anime fadeInDown py-2"}
            .w-100.py-4.px-2
              %h3.num {{current_gsoc|length}}
              %h5 GSoC this year
        %div{:class=>"col-md-6 p-2 h-100"}
          %div{:class=>"achievement-card anime zoomIn"}
            %div{:class=>"w-100"}
              %h2 {{gsoc_orgs|length}} Organizations Contributed
              %div{:class=>"icon-list row mx-0 mt-4"}
                {% for o in gsoc_orgs %}
                  <div class="col-lg-3 col-md-4 col-6 p-2">
                    <a href="/organization/{{o.id}}" class="p-3">
                      <img src="/{{o.icon}}" style="width: 80%">
                      <span>{{o.count}}</span>
                    </a>
                  </div>
                {% endfor %}
        %div{:class=>"col-md-6 p-2 h-100"}
          %div{:class=>"achievement-card anime zoomIn"}
            %div{:class=>"w-100"}
              %h2 {{gsoc_members|length}} Students Selected
              %div{:class=>"icon-list row mx-0 mt-4"}
                {% for m in gsoc_members %}
                  <div class="col-lg-3 col-md-4 col-6 p-2">
                    <a href="/@{{m.username}}">
                      <img src="/{{m.avatar}}" style="width: 100%">
                      <span>{{m.count}}</span>
                    </a>
                  </div>
                {% endfor %}
      {% endif %}
      {% if international_events %}
        %h2
          %img{:src => "{% static 'pages/images/icons/travel.png' %}" } International Achievements
        <div id="international-slider">
        {% for i in international_events  %}
          %div{:class=>"achievement-card anime fadeInUp my-4"}
            %div{:class=>"px-3 py-2 w-100"}
              %h4 {{i.title}}
              <span>{{i.type}}</span>
              <sub><img src="/{{i.organizer.icon}}"></sub>
              %h5 {{i.organizer.name}}
            .bg-primary.p-2
              {% if i.attendee.all|length > 1 %}
                {% for m in i.attendee.all %}
                  <a href="/@{{m.username}}"><img src="/{{m.Profile.avatar}}" class="avatar" alt="{{m.Profile.first_name}} {{m.Profile.last_name}}"></a>
                {% endfor %}
              {% else %}
                {% for m in i.attendee.all %}
                  <a href="/@{{m.username}}"><img src="/{{m.Profile.avatar}}" class="avatar"> {{m.Profile.first_name}} {{m.Profile.last_name}}</a>
                {% endfor %}
              {% endif %}
        {% endfor %}
        </div>
        %hr
      {% endif %}
      {% if internships %}
        %h2
          %img{:src => "{% static 'pages/images/icons/coworking.png' %}" } Internship
        <div id="internship-slider">
        {% for i in internships  %}
          %div{:class=>"achievement-card anime fadeInUp my-4"}
            %div{:class=>"px-3 py-2 w-100"}
              %h4 {{i.title}}
              <sub><img src="/{{i.organizer.icon}}"></sub>
              %h5 {{i.organizer.name}}
            .bg-primary.p-2
              {% if i.attendee.all|length > 1 %}
                {% for m in i.attendee.all %}
                  <a href="/@{{m.username}}"><img src="/{{m.Profile.avatar}}" class="avatar" alt="{{m.Profile.first_name}} {{m.Profile.last_name}}"></a>
                {% endfor %}
              {% else %}
                {% for m in i.attendee.all %}
                  <a href="/@{{m.username}}"><img src="/{{m.Profile.avatar}}" class="avatar"> {{m.Profile.first_name}} {{m.Profile.last_name}}</a>
                {% endfor %}
              {% endif %}
        {% endfor %}
        </div>
      %hr
      {% endif %}
      {% if talks %}
      %h2
        %img{:src => "{% static 'pages/images/icons/podium.png' %}" } Talks
      <div id="talks-slider">
        {% for t in talks %}
          %div{:class=>"achievement-card anime fadeInUp my-4"}
            %div{:class=>"px-4 py-2 w-100"}
              %h4 {{t.title}}
              <sub><img src="/{{t.organizer.icon}}"></sub>
              {% if t.event %}
              %h5 {{t.event}}
              {% else %}
              %h5 {{t.organizer.name}}
              {% endif %}
              <span>{{t.date}}</span>
            .bg-primary.p-2
              <a href="/@{{t.member.username}}"><img src="/{{t.member.Profile.avatar}}" class="avatar"> {{t.member.Profile.first_name}} {{t.member.Profile.last_name}}</a>
        {% endfor %}
      </div>
      %hr
      {% endif %}
      {% if publications %}
        %h2
          %img{:src => "{% static 'pages/images/icons/news.png' %}" } Publications
        <div id="publications-slider">
          {% for p in publications  %}
            %div{:class=>"achievement-card anime fadeInUp my-4"}
              %div{:class=>"px-3 py-2 w-100"}
                %h4 {{p.title}}
                <sub><img src="/{{p.publisher.icon}}"></sub>
                %h5 {{p.publisher.name}}
                <span>{{p.date}}</span>
              .bg-primary.p-2
                {% if p.members.all|length > 1 %}
                  {% for m in p.members.all %}
                    <a href="/@{{m.username}}"><img src="/{{m.Profile.avatar}}" class="avatar" alt="{{m.Profile.first_name}} {{m.Profile.last_name}}"></a>
                  {% endfor %}
                {% else %}
                  {% for m in p.members.all %}
                    <a href="/@{{m.username}}"><img src="/{{m.Profile.avatar}}" class="avatar"> {{m.Profile.first_name}} {{m.Profile.last_name}}</a>
                  {% endfor %}
                {% endif %}
            {% endfor %}
        </div>
      {% endif %}
<script>
let settings = {
    autoplay: true,
    adaptiveHeight: true,
    slidesToShow: 6,
    responsive: [{

      breakpoint: 2500,
      settings: {
        slidesToShow: 4,
        infinite: true
      }

    }, {

      breakpoint: 900,
      settings: {
        slidesToShow: 3,
        dots: true

      }

    }, {

      breakpoint: 720,
      settings: {
        slidesToShow: 2,
        dots: true
      }
    },{
      breakpoint: 450,
      settings: {
        slidesToShow: 1,
        dots: true
      }
    }]
}
$("#international-slider").slick(settings);
$("#internship-slider").slick(settings);
$("#talks-slider").slick(settings);
$("#publications-slider").slick(settings);
</script>
{% endblock %}