{% extends 'base.haml' %}
{% load sass_tags %}
{% load staticfiles %}
{% block title %} {{album.title}} - {{album.uploader.username}} | Album {% endblock %}
{% block description %}AmFOSS (FOSS@Amrita) is one the leading student FOSS Communities in India, based in Amrita Vishwa Vidyapeetham, Amritapuri. {% endblock %}
{% block styles %}
    %link{:rel => "stylesheet", :href =>"{% sass_src 'pages/styles/post.sass' %}" }
{% endblock %}
{% block content %}
      %section{:class=>"page-cover"}
        %div
          %h1 {{album.title}}
      .post-card.bg-white.py-3
        .d-flex.p-2.align-items-center
          <img src="/{{uploader.avatar}}" style="width: 40px; height: 40px; object-fit: cover;" class="rounded-circle">
          .pl-2 {{uploader.first_name}} {{uploader.last_name}}
        .my-4
          {{album.description|safe}}
      %section.gallery
          .row.m-0
            {% for p in album.photos.all %}
              .col-sm-3.col-md-4.col-6.p-2
                .section-card.p-0
                  <img src="/{{p.image}}">
            {% endfor %}
{% endblock %}
