{% extends 'base.haml' %}
{% load sass_tags %}
{% load staticfiles %}
{% block title %} Blog {% endblock %}
{% block description %}AmFOSS (FOSS@Amrita) is one the leading student FOSS Communities in India, based in Amrita Vishwa Vidyapeetham, Amritapuri. {% endblock %}
{% block styles %}
    %link{:rel => "stylesheet", :href =>"{% sass_src 'pages/styles/members.sass' %}" }
{% endblock %}
{% block content %}
    %section{:class=>"page-cover"}
      %h1 Blog
    %section.my-4
      .row.m-0#members
        {% for p in posts %}
          {% if p.status == 'P' %}
            .col-md-4.col-6.p-2
              <a href="/@{{p.author.username}}/{{p.slug}}">
                .section-card.bg-white.p-0.anime.zoomIn
                  <img src="{{p.featured_image.url}}" class="cover">
                  .content
                    @{{p.author.username}}
                    %h4 {{p.title}}
                    %div
                      %span
                        .fa.fa-calendar
                        {{p.date}}
              </a>
            {% endif %}
        {% endfor %}
{% endblock %}
