!!!
{% load staticfiles %}
{% load sass_tags %}
%html{:lang => 'en'}
    %head

        %title {% block title %}{% endblock %} - FOSS@Amrita (amFOSS) - Code | Share | Grow

        %meta{:charset => 'utf-8'}
        %meta{:name => 'language', :content => "EN"}
        %meta{:name => 'description', :content => "{% block description %}{% endblock %}"}
        %meta{:name => 'keywords', :content => "FOSS, Open Source, Community, Amrita, Club, College, GSOC, FOSS@Amrita"}
        %meta{:name => 'author', :content => "amFOSS, amritapurifoss@gmail.com"}
        %meta{:name => 'copyright', :content => "amFOSS"}
        %meta{:name => 'reply-to', :content => "amritapurifoss@gmail.com"}

        %meta{:name => 'viewport', :content => "width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"}
        %meta{:name => 'theme-color', :content => "#2c2e43"}
        %link{:rel => "shortcut icon", :href =>"{% static 'pages/images/favicon.png' %}" }

        {% block styles %}{% endblock %}
        %link{:rel => "stylesheet", :href =>"{% sass_src 'pages/styles/styles.sass' %}" }
        %link{:rel => "stylesheet", :href =>"https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css"}
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
        %script{:src => "https://code.jquery.com/jquery-3.3.1.min.js"}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
        -#<script src="https://gitcdn.xyz/repo/thesmart/jquery-scrollspy/0.1.3/scrollspy.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
        {% block scripts %}{% endblock %}

    %body
        {% include './sidebar.haml' %}
        #page-container
            {% block content %}
            {% endblock %}

            %footer
                {% include './footer.haml' %}
        <script>
            $("#top-bar-button").click(function() {

                if($("#sidebar").hasClass("slideOutLeft")){
                    $("#sidebar").css("display","block").removeClass("slideOutLeft").addClass("slideInLeft");
                    $("#top-bar-button").removeClass("fa-bars").addClass("fa-times");
                }
                else
                {
                    $("#sidebar").removeClass("slideInLeft").addClass("slideOutLeft");
                    $("#top-bar-button").addClass("fa-bars").removeClass("fa-times");
                }

            });
            wow = new WOW({
              boxClass:     'anime',      // default
              animateClass: 'animated', // default
              offset:       0,          // default
              mobile:       true,       // default
              live:         true        // default
            });
            wow.init();
            $('.count').each(function () {
                $(this).prop('Counter',0).animate({
                    Counter: $(this).text()
                }, {
                    duration: 4000,
                    easing: 'swing',
                    step: function (now) {
                        $(this).text(Math.ceil(now));
                    }
                });
            });
              WOW.prototype.addBox = function(element) {
                this.boxes.push(element);
              };
            -# $('.anime').on('scrollSpy:exit', function() {
            -#    $(this).css({
            -#      'visibility': 'hidden',
            -#      'animation-name': 'fadeOut'
            -#    }).removeClass('animated');
            -#    wow.addBox(this);
            -#}).scrollSpy();
        </script>