!!!
{% load staticfiles %}
{% load sass_tags %}
%html{:lang => 'en'}
    %head

        %title {% block title %}{% endblock %} - amFOSS - Code | Share | Grow

        %meta{:charset => 'utf-8'}
        %meta{:name => 'language', :content => "EN"}
        %meta{:name => 'description', :content => "{% block description %}{% endblock %}"}
        %meta{:name => 'keywords', :content => "FOSS, Open Source, Community, Amrita, Club, College, GSOC, FOSS@Amrita"}
        %meta{:name => 'author', :content => "amFOSS, amritapurifoss@gmail.com"}
        %meta{:name => 'copyright', :content => "AmFOSS"}
        %meta{:name => 'reply-to', :content => "amritapurifoss@gmail.com"}

        %meta{:name => 'viewport', :content => "width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"}
        %meta{:name => 'theme-color', :content => "#2c2e43"}
        %link{:rel => "shortcut icon", :href =>"{% static 'pages/images/favicon.png' %}" }

        {% block styles %}{% endblock %}
        %link{:rel => "stylesheet", :href =>"{% sass_src 'pages/styles/styles.sass' %}" }
        %link{:rel => "stylesheet", :href =>"https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css"}
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
        %script{:src => "https://code.jquery.com/jquery-3.3.1.slim.min.js"}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
        {% block scripts %}{% endblock %}

    %body
        {% include './sidebar.haml' %}
        #page-container
            {% block content %}
            {% endblock %}

            %footer
                {% include './footer.haml' %}
        <script>
            $("#top-bar-button").click(function() {

                if($("#sidebar").hasClass("slideOutLeft")){
                    $("#sidebar").css("display","block").removeClass("slideOutLeft").addClass("slideInLeft");
                    $("#top-bar-button").removeClass("fa-bars").addClass("fa-times");
                }
                else
                {
                    $("#sidebar").removeClass("slideInLeft").addClass("slideOutLeft");
                    $("#top-bar-button").addClass("fa-bars").removeClass("fa-times");
                }

            });
        </script>