!!!
{% load staticfiles %}
{% load sass_tags %}
%html{:lang => 'en'}
    %head

        %title {% block title %}{% endblock %} - AmFOSS - Code | Share | Grow

        %meta{:charset => 'utf-8'}
        %meta{:name => 'language', :content => "EN"}
        %meta{:name => 'description', :content => "{% block description %}{% endblock %}"}
        %meta{:name => 'keywords', :content => "FOSS, Open Source, Community, Amrita, Club, College, GSOC, FOSS@Amrita"}
        %meta{:name => 'author', :content => "AmFOSS, amritapurifoss@gmail.com"}
        %meta{:name => 'copyright', :content => "AmFOSS"}
        %meta{:name => 'reply-to', :content => "amritapurifoss@gmail.com"}

        %meta{:name => 'viewport', :content => "width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"}
        %meta{:name => 'theme-color', :content => "#2c2e43"}
        %link{:rel => "shortcut icon", :href =>"{% static 'pages/images/favicon.png' %}" }

        {% block styles %}{% endblock %}
        %link{:rel => "stylesheet", :href =>"{% sass_src 'pages/styles/styles.sass' %}" }
        %script{:src => "https://code.jquery.com/jquery-3.3.1.slim.min.js"}
        {% block scripts %}{% endblock %}

    %body
        {% include './sidebar.haml' %}
        #page-container
            {% block content %}
            {% endblock %}

            %footer
                {% include './footer.haml' %}
