{% load static %}
        #footer-nav
            .w-100
                .row.m-0
                    .col-lg-2.col-6.d-flex.justify-content-center.p-2
                        %div
                            %h4 The Club
                            %ul
                                %li
                                    %a{:href => '/about#story'} Our Story
                                %li
                                    %a{:href => "/members" } Members
                                %li
                                    %a{:href => '/teams'} Teams
                                %li
                                    %a{:href => '/about#timeline'} Timeline
                                %li
                                    %a{:href => '/achievements'} Achievements
                                %li
                                    %a{:href => '/gallery'} Gallery
                    .col-lg-2.col-6.d-flex.justify-content-center.p-2
                        %div
                            %h4 For Students
                            %ul
                                %li
                                    %a{:href => '/blog?type="joining"'} How to Join?
                                %li
                                    %a{:href => '/blog?type="resources"'} Learning Resources
                                %li
                                    %a{:href => '/events'} Workshops & Events

                    .col-lg-2.col-6.d-flex.p-2
                        %div
                            %h4 For Partners
                            %ul
                                %li
                                    %a{:href => '/members'} View Profiles
                                %li
                                    %a{:href => '/projects'} View Projects
                                %li
                                    %a{:href => '/about#impact'} Our Impact
                    .col-lg-2.col-6.p-2
                        %div
                            %h4 Resources
                            %ul
                                %li
                                    %a{:href => '/blog'} amFOSS Blog
                                %li
                                    %a{:href => '/about#social-initiatives'} Social Initiatives
                                %li
                                    %a{:href => '/events'} Events & Workshops
                                %li
                                    %a{:href => '/blog?type="press"'} Press & Media
                    #contact-details.col-lg-3.col-sm-6.col-10.d-flex.p-2
                        #contact
                            %h4 Contact Us
                            .footer-contact
                                %h5
                                    %i.fa.fa-comments
                                    IRC Chat
                                %p  amfoss@irccloud.com
                                %h5
                                    %i.fa.fa-envelope
                                    Email
                                %p
                                    %a{:href => 'mailto:amritapurifoss@gmail.com'} amritapurifoss@gmail.com
                                %h5
                                    %i.fa.fa-location-arrow
                                    Address
                                %p
                                    FOSS@Amrita, <br>Amrita Vishwa Vidyapeetham, <br>
                                    Amritapuri, Clappana P.O., <br>Kollam, Kerala - 690525
        #sub-footer
            .row.m-0
                #footer-logos.col-lg-3
                    %a{:href => 'https://amrita.ac.in'}
                        %img{:src => "{% static 'pages/images/logos/amrita.png' %}" }
                    %a{:href => 'https://bios.in'}
                        %img{:src => "{% static 'pages/images/logos/bi0s.png' %}" }
                .col-lg-5.d-flex.align-items-center
                    .w-100
                        &copy;
                        %a{:href => "{% url 'home_page' %}"} Team AmFOSS
                        2018-19. <wbr> All Rights Reserved.
                .col-lg-4.d-flex.align-items-center
                    .w-100
                       %a{:href => "/privacy" } Privacy
                       %a{:href => "/feedback" } Feedbacks
                       %a{:href => "/terms" } Terms of Use
