{% extends 'base.haml' %}
{% load sass_tags %}
{% load staticfiles %}
{% block title %} India's Leading FOSS Club {% endblock %}
{% block description %}AmFOSS (FOSS@Amrita) is one the leading student FOSS Communities in India, based in Amrita Vishwa Vidyapeetham, Amritapuri. {% endblock %}
{% block styles %}
            %link{:rel => "stylesheet", :href =>"{% sass_src 'pages/styles/home.sass' %}" }
{% endblock %}
{% block content %}
%div{:id=>"homepage"}
  %section#cover

  %section#intro
    %div{:class=>"row mb-4 mx-0"}
      %div{:class=>"col-md-8 p-2 mb-3"}
        %div{:id=>"intro-para"}
          %h3 Fostering Student Skills to Face the World, For a Better World.
          %p
            We are a community of ....

      %div{:class=>"col-md-4 pl-3 py-0 page-links"}
        %div{:class=>"row my-4 mx-0"}
          %div{:class=>"col-6 p-2"}
           %a
            %img{:src => "{% static 'pages/images/icons/about.png' %}"}
            %h6 About Us
          %div{:class=>"col-6 p-2"}
           %a
            %img{:src => "{% static 'pages/images/icons/work.png' %}"}
            %h6  What We Do?
          %div{:class=>"col-6 p-2"}
           %a
            %img{:src => "{% static 'pages/images/icons/crown.png' %}"}
            %h6 Achievements
          %div{:class=>"col-6 p-2"}
           %a
            %img{:src => "{% static 'pages/images/icons/news.png' %}"}
            %h6 News & Updates

  %div{:class=>"bg-white section-card"}
    %div{:class=>"row mb-4 mx-0"}
        %div{:class=>"col-lg-6 col-md-4 p-4"}
          %img{:class=>"featured-image", :src => "{% static 'pages/images/club/what_we_do.png' %}"}
        %div{:class=>"col-lg-6 col-md-8 p-4 text-left"}
          %h2 What We Do?
          %p
            There are lots of skills you don't get to learn in the classrooms. Here we
            emphasize starting from basics such as how to type correctly and to gain speed, writing code, ability
            to read large code base (more than 1000s of lines of code) and debugging, making presentations and
            many more…
    %hr
    %div{:class=>"row my-4 mx-0 features"}
      %div{:class=>"col-md-4 p-2"}
        %img{:src => "{% static 'pages/images/icons/mentorship.png' %}"}
        %h4 Mentor & Train Students
          %span to take on the world
        %a{:href=> "#"} Our Vision
        %a{:href=> "#"} Club Activities
      %div{:class=>"col-md-4 p-2"}
        %img{:src => "{% static 'pages/images/icons/open-source.png' %}"}
        %h4 Promote Open Source
           %span and Computer Science
        %a{:href=> "#"} Workshops
        %a{:href=> "#"} Initiatives
      %div{:class=>"col-md-4 p-2"}
        %img{:src => "{% static 'pages/images/icons/contribute.png' %}"}
        %h4 Contribute to Open Source
          %span Projects & Communities
        %a{:href=> "#"} Our Contributions

  %div{:class=>"bg-white section-card"}
    %div{:class=>"row mb-4 mx-0"}
      %div{:class=>"col-lg-6 col-md-8 p-4 text-left"}
        %h2 What We have Achieved?
        %p
          There are lots of skills you don't get to learn in the classrooms. Here we
          emphasize starting from basics such as how to type correctly and to gain speed, writing code, ability
          to read large code base (more than 1000s of lines of code) and debugging, making presentations and
          many more…

      %div{:class=>"col-lg-6 col-md-4 p-4"}
        %img{:class=>"featured-image", :src => "{% static 'pages/images/club/what_did_we_achieve.png' %}"}

    %hr
    %div{:class=>"row my-4 mx-0 features"}
      %div{:class=>"col-md-3 p-2"}

        %h4{:class=>"num"} 33
          %span Google Summer of Code
        %a{:href=> "#"} GSoC Ranking
        %a{:href=> "#"} GSoC Projects
      %div{:class=>"col-md-3 p-2"}
        %h4{:class=>"num"} 33
          %span Internships
        %a{:href=> "#"} Internships
        %a{:href=> "#"} Placement Records
      %div{:class=>"col-md-3 p-2"}
        %h4{:class=>"num"} 835+
          %span Students Trained
        %a{:href=> "#"} Our Alumni

  %div{:class=>"row mb-4 mx-0"}
    %div{:class=>"col-lg-6 col-md-8 p-2 text-left"}
      %div{:class=>"bg-white section-card p-0"}
        %img{:class=>"card-icon pb-2 pt-4",:src => "{% static 'pages/images/icons/diamond.png' %}" }
        %h2{:class=>"py-2 px-4"} Why should you join club?
        %hr
        %div{:class=>"point row m-0"}
          %div{:class=>"col-sm-2 col-3 p-2"}
            %img{:src => "{% static 'pages/images/icons/code.png' %}" }
          %div{:class=>"col p-2"}
            %h3
              Advance Technically to New Heights
            %p
              Coding is of course gonna improve :P
        %hr
        %div{:class=>"point row m-0"}
          %div{:class=>"col-sm-2 col-3 p-2"}
            %img{:src => "{% static 'pages/images/icons/care.png' %}" }
          %div{:class=>"col p-2"}
            %h3
             Recieve Care & Support through Mentorship
            %p
              You will be helped.
        %hr
        %div{:class=>"point row m-0"}
          %div{:class=>"col-sm-2 col-3 p-2"}
            %img{:src => "{% static 'pages/images/icons/run.png' %}" }
          %div{:class=>"col p-2"}
            %h3
              Become Competent to Face the Real World
            %p
              Be tougher and better
        %hr
        %div{:class=>"point row m-0"}
          %div{:class=>"col-sm-2 col-3 p-2"}
            %img{:src => "{% static 'pages/images/icons/travel.png' %}" }
          %div{:class=>"col p-2"}
            %h3
              Surf in an Ocean of Opportunities
            %p
              Enjoyyy lyf
        %div{:class=>"point cta row m-0"}
          %div{:class=>"col-9 p-2 d-flex"}
            %h3 Interested in joining in the club?
          %div{:class=>"col p-2 d-flex", :style=>"justify-content: flex-end"}
            %a{:href=> "#"} Apply Now

  %div{:class=>"bg-white section-card"}
      %h2 What are People Talking About Us?
      %hr
      %hr
      %div{:class=>"row my-4 mx-0 features"}
        %div{:class=>"col-md-3 p-2"}

          %h3 4.5
            %span Google Places Review
          %a{:href=> "#"} GSoC Ranking
          %a{:href=> "#"} GSoC Projects
        %div{:class=>"col-md-3 p-2"}
          %h4{:class=>"num"} 33
            %span Internships
          %a{:href=> "#"} Internships
          %a{:href=> "#"} Placement Records
        %div{:class=>"col-md-3 p-2"}
          %h4{:class=>"num"} 835+
            %span Students Trained
          %a{:href=> "#"} Our Alumni

  %section#location-map
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3939.6704293431408!2d76.4901893152359!3d9.093756993475948!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b0602dcdfeb8707%3A0xdc224ac2f7bde6dd!2sFOSS%40Amrita!5e0!3m2!1sen!2sin!4v1541607520295" width="600" height="450" frameborder="0" style="border:0" allowfullscreen="">
    </iframe>
{% endblock %}