{% extends 'base.haml' %}
{% load sass_tags %}
{% load staticfiles %}
{% block title %} India's Leading FOSS Club {% endblock %}
{% block description %}AmFOSS (FOSS@Amrita) is one of the leading student FOSS Communities in India, based in Amrita Vishwa Vidyapeetham, Amritapuri. {% endblock %}
{% block styles %}
    %link{:rel => "stylesheet", :href =>"{% sass_src 'pages/styles/home.sass' %}" }
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeit/6.0.2/typeit.min.js"></script>
{% endblock %}
{% block content %}
%div{:id=>"homepage"}
  %section#cover
    <video autoplay loop id="index-video">
     <source src="{% static 'pages/videos/cover.mp4' %}" type="video/mp4">
    </video>
    %h1#header-title.m-0

  %section#intro
    .row.mt-0.mb-4.mx-0.section-card.icon-row
      .col-md-3.col-3.p-2
        %a{:class=>"intro-card",:href=>"#about"}
          %img{:src => "{% static 'pages/images/icons/about.png' %}"}
          %h6 About Us

      .col-md-3.col-3.p-2
        %a{:class=>"intro-card",:href=>"#what-we-do"}
          %img{:src => "{% static 'pages/images/icons/work.png' %}"}
          %h6  What We Do?

      .col-md-3.col-3.p-2
        %a{:class=>"intro-card",:href=>"#achievements"}
          %img{:src => "{% static 'pages/images/icons/crown.png' %}"}
          %h6 Achievements

      .col-md-3.col-3.p-2
        %a{:class=>"intro-card",:href=>"/blog"}
          %img{:src => "{% static 'pages/images/icons/news.png' %}"}
          %h6 News & Updates

  %div{:id=>"what-we-do",:class=>"bg-white section-card anime fadeInLeft"}
    %div{:class=>"row mb-4 mx-0"}
       %div{:class=>"col-lg-6 col-md-8 p-4 text-left order-1"}
          %h2.anime.slideInLeft Who are We?
          %p.anime.slideInUp
            FOSS@Amrita (also known as amFOSS ) is a community of passionate college students,
            who have come together for the cause of promoting and contributing to Free and Open
            Source Software, whilst achieving excellence in the field of technology in their pursuit of knowledge.
          %p.anime.slideInDown
            The club envisions to make its members competent to become the leaders of the future
            with excellence in technical, creative, and intrapersonal skills, through making them
            learn how to learn, by simulating a workspace like atmosphere inside the lab, and making
            them go through all challenges, and setbacks they may face in the real world.

          %p.anime.slideInUp
            Founded in 2008, the club over the years has been renowned as one of the leading
            student clubs in India, with about 100 active members. It has so far produced 30+ GSoCers,
            and established Amrita Vishwa Vidyapeetham, Amritapuri Campus as globally 8th ranked in GSoC ranking.
            The club is run by the students themselves, with the help of research scholars, alumni, and faculties.

      %div{:class=>"col-lg-6 col-md-4 p-4 order-md-2 align-items-center d-flex"}
        %img{:class=>"featured-image anime jackInTheBox", :src => "{% static 'pages/images/club/who_are_we.jpg' %}"}
    {% if testimonials %}
      %hr
      #testimonials.bg-white.p-4
        {% for t in testimonials %}
            .testimonial.text-center.w-100
              .message "{{t.message}}"
              %div
                <img src="{{t.image.url}}">
                %div.d-block
                  %span.d-block.text-left {{t.author}}
                  .sub {{t.credential}}
        {% endfor %}
    {% endif %}

  %div{:id=>"what-we-do",:class=>"bg-white section-card anime fadeInRight"}
    %div{:class=>"row mb-4 mx-0"}
        %div{:class=>"col-lg-6 col-md-4 p-4 align-items-center d-flex"}
          %img{:class=>"featured-image anime jackInTheBox", :src => "{% static 'pages/images/club/what_we_do.png' %}"}
        %div{:class=>"col-lg-6 col-md-8 p-4 text-left"}
          %h2.anime.slideInRight What We Do?
          %p.anime.slideInUp
            The members stay back together every evening in the lab and work till late night.
            The club operates by the principle of mentorship and family, where the senior members
            of the club individually mentor the juniors, and the club as such acting as a family where
            the one helps the other out.
          %p.anime.slideInDown
            The members contribute to Open Source projects of various popular open source organizations,
            work on developing their own projects including the club projects aimed at solving real world problems,
            participate in GSoC, Developer Meets, Hackathons etc. as well as conduct Workshops and Fests to
            encourage others to work on open source.
          %p.anime.slideInUp
            The club also has specialised teams internally such as one focused on Android, Blockchain,
            Internet of Things (IoT), Data Science, Machine Learning, Problem-solving, UI/UX, and Web Development.
          %p.anime.slideInDown
            The club believes in the holistic development of its members, and the members besides seeking
            excellence in technical skills, also engage in talks, debates, sports, cultural activities, yoga sessions etc.

    %hr
    %div{:class=>"row my-4 mx-0 features"}
      %div{:class=>"col-md-4 col-6 p-2 anime zoomInLeft"}
        %img{:src => "{% static 'pages/images/icons/mentorship.png' %}"}
        %h5 Mentor & Train Students
          %span to take on the world
        .d-none.d-md-block
          %a{:href=> "#"} Our Vision
          %a{:href=> "#"} Club Activities
      %div{:class=>"col-md-4 col-6 p-2 anime zoomInUp"}
        %img{:src => "{% static 'pages/images/icons/open-source.png' %}"}
        %h5 Promote Open Source
           %span and Computer Science
       .d-none.d-md-block
          %a{:href=> "#"} Workshops
          %a{:href=> "#"} Initiatives
      %div{:class=>"col-md-4 p-2 anime zoomInRight"}
        %img{:src => "{% static 'pages/images/icons/contribute.png' %}"}
        %h5 Contribute to Open Source
          %span Projects & Communities
        .d-none.d-md-block
          %a{:href=> "#"} Our Contributions

  %div{:id=>"achievements",:class=>"bg-white section-card animie fadeInLeft"}
    %div{:class=>"row mb-4 mx-0"}
      %div{:class=>"col-lg-6 col-md-8 p-4 text-left order-1"}
        %h2.anime.slideInLeft What We have Achieved?
        %p.anime.slideInUp
          The club has become one of the forerunners in promoting, and contributing to open source in the country,
          introducing over a hundred enthusiasts every year to the world of Open source through the various activities it conducts.
        %p.anime.slideInDown
          The club has produced 30+ GSoCers over the last 10 years, with about 15 developers getting selected every year.
          The members have been actively taking part in international conferences, meetups, hackathons, as well as
          delivering talks and presenting projects at various events.
        %p.anime.slideInUp
          Majority of the club alumni have been placed in core computer science companies such as Google, Microsoft,
          Intel, IBM and VMWare. The active members also get selected for summer schools at global universities, and
          paid internships at top companies. Some of our alumni are currently Phd. research scholars at various foreign universities.

      %div{:class=>"col-lg-6 col-md-4 p-4 order-md-1 align-items-center d-flex"}
        %img{:class=>"featured-image anime jackInTheBox", :src => "{% static 'pages/images/club/what_did_we_achieve.png' %}"}

    %hr
    %div{:class=>"row my-4 mx-0 features"}
      %div{:class=>"col-md-3 col-6 p-2 anime zoomInLeft"}
        %h4.num
          .count 33
          %span Google Summer of Code
        .d-none.d-md-block
          %a{:href=> "#"} GSoC Ranking
          %a{:href=> "/achievements#GSOC"} GSoC Projects
      %div{:class=>"col-md-3 col-6 p-2 anime zoomInRight"}
        %h4{:class=>"num"}
          .count 835
          %span Students Trained
        .d-none.d-md-block
          %a{:href=> "#"} Our Alumni
          %a{:href=> "#"} Alumini Blog
      %div{:class=>"col-md-3 col-6 p-2 anime zoomInLeft"}
        %h4{:class=>"num"}
          .count 50
          %span Organizations Contributed
        .d-none.d-md-block
          %a{:href=> "/projects"} Projects
          %a{:href=> "/stats"} Statistics
      %div{:class=>"col-md-3 col-6 p-2 anime zoomInRight"}
        %h4{:class=>"num"}
          .count 15
          %span Workshops Conducted
        .d-none.d-md-block
          %a{:href=> "#"} Workshops & Events

  %div{:class=>"row mb-4 mx-0"}
    %div{:class=>"col-lg-6 col-md-8 p-2 text-left"}
      %div{:class=>"bg-white section-card p-0 anime slideInRight"}
        .text-center
          %img{:class=>"card-icon pb-2 pt-4 anime bounceInDown",:src => "{% static 'pages/images/icons/diamond.png' %}" }
          %h3{:class=>"py-2 px-4 anime bounceInUp"} Why should you join club?
        %hr
        %div{:class=>"point row m-0 anime flipInX"}
          %div{:class=>"col-sm-2 p-2 d-flex align-items-center"}
            %img{:src => "{% static 'pages/images/icons/code.png' %}" }
          %div{:class=>"col p-2"}
            %h4
              Advance Technically to New Heights
            %p
              Web, Android, Data Science, Desktop Application Development, Networks, IoT- learn and prosper
              under great mentorship and community support, and use your skills to help making real time
              software in Open Source. Make an impact!
        %hr
        %div{:class=>"point row m-0 anime flipInY"}
          %div{:class=>"col-sm-2 p-2 d-flex align-items-center"}
            %img{:src => "{% static 'pages/images/icons/care.png' %}" }
          %div{:class=>"col p-2"}
            %h4
             Receive Care & Support through Mentorship
            %p
              Receive care and support from our rich mentorship environment.
              With the help of experienced folks  - solve your issues, be it technical or non technical,
              set goals and achieve them all.

        %hr
        %div{:class=>"point row m-0 anime flipInX"}
          %div{:class=>"col-sm-2 p-2 d-flex align-items-center"}
            %img{:src => "{% static 'pages/images/icons/run.png' %}" }
          %div{:class=>"col p-2"}
            %h4
              Become Competent to Face the Real World
            %p
              Sharpen your skills, get exposed to collaborative product making, be a part and lead developer
              teams and contribute to real time Open Source software - all the while developing a
              world class working style. Grow!
        %hr
        %div{:class=>"point row m-0 anime flipInY"}
          %div{:class=>"col-sm-2 p-2 d-flex align-items-center"}
            %img{:src => "{% static 'pages/images/icons/travel.png' %}" }
          %div{:class=>"col p-2"}
            %h4
              Surf in an Ocean of Opportunities
            %p
              Internships, Student Exchange Programs, Summer Schools, Conferences, Talks, Hackathons - be it GSoC, SoK,
              RGSoC, Outreachy, FOSDEM etc - get exposed to the best of opportunities out there and
              prove your metal in the real world. Carpe diem!
        %div{:class=>"point cta row m-0 anime flipInX"}
          %div{:class=>"col-sm-8 p-2 d-flex justify-content-center"}
            %h5 Interested in joining in the club?
          %div{:class=>"col p-2 d-flex"}
            %a{:href=> "#"} Apply Now

    .col-lg-6.col-md-8.p-2.text-left
      #news.bg-white.section-card.p-0.anime.slideInRight
        .text-center
          %img{:class=>"card-icon pb-2 pt-4 anime bounceInDown",:src => "{% static 'pages/images/icons/news.png' %}" }
          %h3{:class=>"py-2 px-4 anime bounceInUp"} News about the Club

          {% for i in news %}
            %hr
            .point
              <a href="/@{{i.author}}/{{i.slug}}" >
                .row.m-0.py-2
                  .col-2
                      <img src="/{{i.featured_image}}">
                  .col-10.text-left
                      %h3.m-0 {{i.title}}
                      %div
                        .span
                          .fa.fa-calendar.mr-2
                          {{i.date}}
              </a>
          {% endfor %}
          %div{:class=>"point cta row m-0 anime flipInX"}
            %div{:class=>"col-sm-8 p-2 d-flex justify-content-center"}
              %h5 Want to get updated about the club?
            %div{:class=>"col p-2 d-flex"}
              %a{:href=> "#"} Subscribe to Newsletter

  %section#location-map
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3939.6704293431408!2d76.4901893152359!3d9.093756993475948!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b0602dcdfeb8707%3A0xdc224ac2f7bde6dd!2sFOSS%40Amrita!5e0!3m2!1sen!2sin!4v1541607520295" width="600" height="450" frameborder="0" style="border:0" allowfullscreen="">
    </iframe>

<script>

$('#testimonials').slick({
  slidesToShow: 1,
  slidesToScroll: 1,
  autoplay: true,
  pauseOnHover: true,
  autoplaySpeed: 2000,
});

</script>
<script src="{% static 'pages/js/home.js' %}"></script>
{% endblock %}