{% load staticfiles %}
        #topbar
            %img{:src => "{% static 'pages/images/logos/logo_alt_light.png' %}"}
        #sidebar
            .text-center
                %img{:src => "{% static 'pages/images/logos/logo_light.png' %}"}
