{% load staticfiles %}
#topbar
    #top-bar-button{:class=>"fa fa-bars"}
    %img{:src => "{% static 'pages/images/logos/logo_alt_light.png' %}"}

#sidebar{:class=>"animated"}
    .text-center
        %img{:src => "{% static 'pages/images/logos/logo_light.png' %}"}

    %nav

        <a href="/" class="{% if request.get_full_path == "/" %}active{% endif %}">
            %img{:src => "{% static 'pages/images/icons/home.png' %}"}
            %span Home
        </a>

        <a href="/about" class="{% if request.get_full_path == "/about/" %}active{% endif %}">
            %img{:src => "{% static 'pages/images/icons/about.png' %}"}
            %span About
        </a>

        <a href="/life" class="{% if request.get_full_path == "/life/" %}active{% endif %}">
            %img{:src => "{% static 'pages/images/icons/mentorship.png' %}"}
            %span Life in Club
        </a>

        <a href="/achievements" class="{% if request.get_full_path == "/achievements/" %}active{% endif %}">
            %img{:src => "{% static 'pages/images/icons/crown.png' %}"}
            %span Achievements
        </a>

        <a href="/members" class="{% if request.get_full_path == "/members/" %}active{% endif %}">
            %img{:src => "{% static 'pages/images/icons/coworking.png' %}"}
            %span Members
        </a>

        <a href="/projects" class="{% if request.get_full_path == "/projects/" %}active{% endif %}">
            %img{:src => "{% static 'pages/images/icons/project.png' %}"}
            %span Projects
        </a>

        <a href="/blog" class="{% if request.get_full_path == "/blog/" %}active{% endif %}">
            %img{:src => "{% static 'pages/images/icons/blog.png' %}"}
            %span Blog
        </a>

    #social-links
        %a{:href=>"https://github.com/amfoss"}
            %img{:src => "{% static 'pages/images/icons/github.png' %}"}

        %a{:href=>"https://facebook.com/amfoss.in"}
            %img{:src => "{% static 'pages/images/icons/facebook.png' %}"}

        %a{:href=>"https://twitter.com/amfoss_in"}
            %img{:src => "{% static 'pages/images/icons/twitter.png' %}"}

        %a{:href=>"https://instagram.com/amfoss.in"}
            %img{:src => "{% static 'pages/images/icons/instagram.png' %}"}

        %a{:href=>"https://linkedin.com/amfoss"}
            %img{:src => "{% static 'pages/images/icons/linkedin.png' %}"}