{% extends 'base.haml' %}
{% load sass_tags %}
{% load staticfiles %}
{% block title %} Blog {% endblock %}
{% block description %}AmFOSS (FOSS@Amrita) is one the leading student FOSS Communities in India, based in Amrita Vishwa Vidyapeetham, Amritapuri. {% endblock %}
{% block styles %}
    %link{:rel => "stylesheet", :href =>"{% sass_src 'pages/styles/post.sass' %}" }
{% endblock %}
{% block content %}
    %section{:class=>"page-cover"}
      %div
        %h1 {{project.name}}
        .tagline {{project.tagline}}
    %section.row.m-0
      .col-md-9.py-4
        <img src="/{{project.cover}}">
        .post-card.bg-white
          {{project.detail|safe}}
      .col
        .section-card.list.p-0.bg-white
          .bg-primary.p-2
            %h3.m-2 Team Members
          %div{:class=>"point px-2"}
            {% for m in team %}
              <a href="/@{{m.user.username}}">
                .row.m-0
                  .col-3.p-0
                    <img src="/{{m.avatar}}" class="rounded-circle">
                  .col.p-2.d-flex.align-items-center
                    %h5 {{m.first_name}} {{m.last_name}}
              </a>
            {% endfor %}
        .section-card.bg-primary.p-3
          {% if socialProfiles %}
            .social-links
              {% for l in socialProfiles %}
                <a href="{{l.link}}" style="color: {{l.portal.color}}"  class="{{l.portal.icon}}"></a>
              {% endfor %}
          {% endif %}
{% endblock %}
