{% extends 'base.haml' %}
{% load sass_tags %}
{% load staticfiles %}
{% block title %} {{project.name}} | Project {% endblock %}
{% block description %}AmFOSS (FOSS@Amrita) is one the leading student FOSS Communities in India, based in Amrita Vishwa Vidyapeetham, Amritapuri. {% endblock %}
{% block styles %}
  <script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
   %link{:rel => "stylesheet", :href =>"{% sass_src 'pages/styles/post.sass' %}" }
{% endblock %}
{% block content %}
    {% if project %}
    <section id="cover" style="background-color:#ffc107" >
        .container
            .row.m-0.bg-white.section-card
                .col-md-4
                    <img src="{{ project.cover.url }}" id="full-img" class="rounded" >
                .col-md-8
                    %h1 {{project.name}}
                    .tagline {{project.tagline}}
                    .social-links
                        {% if socialProfiles %}
                            {% for l in socialProfiles %}
                                <a href="{{l.link}}" style="color: {{l.portal.color}}"  class="{{l.portal.icon}}"></a>
                            {% endfor %}
                        {% endif %}
    </section>
    #section-switcher
      %a#description-tab-button
        <img src='/static/pages/images/icons/about.png'>
        %span Description
      %a#gallery-tab-button
        <img src='/static/pages/images/icons/portfolio.png'>
        %span Gallery
      %a#members-tab-button
        <img src='/static/pages/images/icons/crowd.png'>
        %span Members

    %section.tab#description-tab
        %section.my-4.container
            .post-card.bg-white
                {{project.detail|safe}}

    %section.tab#gallery-tab
        %section.gallery
            .row.m-0
                {% for p in project.album.photos.all %}
                    .col-sm-3.col-md-4.col-6.p-2
                        .section-card.p-0
                            <img src="{{p.image.url}}">
                {% endfor %}
{

    %section.tab#members-tab
        .row.m-0#members.p-3
        {% for m in team %}
          <div class="col-lg-3 col-md-4 col-6 p-2"  tags="{{m.first_name.lower }} {{ m.last_name.lower }} {{m.user.username.lower}}">
            <a href="/@{{m.user.username}}">
              .section-card.bg-white.p-0.anime.zoomIn.m-1
                <img src="{{m.avatar.url}}" class="cover">
                .content
                  %h4 {{m.first_name}} {{m.last_name}}
                  {% if m.tagline %}
                  .tagline {{m.tagline}}
                  {% else %}
                  .tagline {{m.role}}
                  {% endif %}
            </a>
          </div>
        {% endfor %}
    {% endif %}


<script>
    $("#description-tab").show();
    $("#gallery-tab").hide();
    $("#members-tab").hide();

    $("#description-tab-button").click(function() {
        $("#description-tab").show();
        $("#gallery-tab").hide();
        $("#members-tab").hide();
    });

    $("#gallery-tab-button").click(function() {
        $("#description-tab").hide();
        $("#gallery-tab").show();
        $("#members-tab").hide();
    });

    $("#members-tab-button").click(function() {
        $("#description-tab").hide();
        $("#gallery-tab").hide();
        $("#members-tab").show();
    });

</script>

{% endblock %}
